<footer class="text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-6 pr-xl-5">
        <h5>IAGML</h5>
        <p>
          Sistemas inteligentes para descoberta em Astronomia:
          Inteligência Artificial
          para a extração de informações
          em grandes levantamentos do céu (surveys).
        </p>

        <h5 class="mt-4">Apoio</h5>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href="http://www.iag.usp.br">
              <img class="hover-img" src="/assets/img/iag_logo.png" data-toggle="tooltip" height="45px" alt="IAG Logo"
                title="Instituto de Astronomia, Geofísica e Ciências Atmosféricas">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://prp.usp.br">
              <img class="hover-img" src="/assets/img/prp_logo.png" data-toggle="tooltip" height="45px" alt="PRP Logo"
                title="Pró Reitoria de Pesquisa">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://usp.br">
              <img class="hover-img" src="/assets/img/usp_logo.png" data-toggle="tooltip" height="45px" alt="USP Logo"
                title="Universidade de São Paulo">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-xl-3">
        <h5>Explore</h5>
        <ul class="list-unstyled">
          <li><a href="/">Início</a></li>
          <li><a href="/projeto">Projeto</a></li>
          <li><a href="/recursos/">Recursos</a></li>
          <li><a href="/surveys">Surveys</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-xl-3">
        <h5>Contato</h5>
        <p class="text-sm ">
          IAG - Instituto de Astronomia, Geofísica e Ciências Atmosféricas <br>
          Universidade de São Paulo <br>
          Rua do Matão, 1226 <br>
          Cidade Universitária <br>
          São Paulo - SP <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-line text-center">
    <p>
      &copy; 2019 IAG/USP
    </p>
  </div>
</footer>