<footer class="text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-xl-6 pr-xl-5">
        <h6>IAGML</h6>
        <p>
          Sistemas inteligentes para descoberta em Astronomia:
          Inteligência Artificial
          para a extração de informações
          em grandes levantamentos do céu (surveys).
        </p>

        <h6 class="mt-4">Apoio</h6>
        <ul class="list-unstyled list-inline footer-logos">
          <li class="list-inline-item">
            <a href="http://www.iag.usp.br">
              <img class="hover-img" src="/assets/img/iag_logo.png" data-toggle="tooltip" height="42px" alt="IAG Logo"
                title="Instituto de Astronomia, Geofísica e Ciências Atmosféricas">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://prp.usp.br">
              <img class="hover-img" src="/assets/img/prp_logo.png" data-toggle="tooltip" height="42px" alt="PRP Logo"
                title="Pró Reitoria de Pesquisa">
            </a>
          </li>
          <li class="list-inline-item">
            <a href="http://usp.br">
              <img class="hover-img" src="/assets/img/usp_logo.png" data-toggle="tooltip" height="42px" alt="USP Logo"
                title="Universidade de São Paulo">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-xl-3">
        <h6>Explore</h6>
        <ul class="list-unstyled">
          {% for item in site.data.navigation %}
          <li><a href="{{ item.link }}">{{ item.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-sm-12 col-xl-3">
        <h6>Contato</h6>
        <p class="text-sm ">
          IAG - Instituto de Astronomia, Geofísica e Ciências Atmosféricas <br>
          Universidade de São Paulo <br>
          Rua do Matão, 1226 <br>
          Cidade Universitária <br>
          São Paulo - SP <br>
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid footer-line text-center">
    <p>
      &copy; 2019 IAG/USP
    </p>
  </div>
</footer>