<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/fa-5.10.2/css/all.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/app.css?{{ site.time | date: '%s' }}">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Spectral&display=swap" rel="stylesheet">

  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>

  {% seo %}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/pygments-css/native.css">
</head>