<section class="latest-posts">
  <div class="container">
    <h2 class="text-center pb-3">Últimos Posts</h2>
    <div class="row row-cols-1 row-cols-lg-3">
      {% for post in site.posts limit:3 %}
      <div class="col p-4 p-lg-3 p-xg-4 d-flex justify-content-center">
        <div class="card w-100 h-100" style="max-width: 450px;" onclick="window.location='{{ post.url }}';">
          <img class="card-img-top" src="{{ post.image }}" style="height: 12rem;" alt="Imagem de capa do card">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
          </div>
          <div class="card-footer">
            {% include profile_pic.html author=author size=40 %}
            <div class="d-inline-block align-middle ml-2">
              <span class="d-block">{{ author.display_name }}</span>
              <small class="text-muted d-block">{{ post.date | date_to_string }}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>