<section class="latest-posts">
  <div class="container">
    <h2 class="text-center pb-3">Últimos Posts</h2>
    <div class="card-deck">
      {% for post in site.posts limit:3 %}
      <div class="card" onclick="window.location='{{ post.url }}';">
        <img class="card-img-top" src="{{ post.image }}" style="height: 12rem;" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
        </div>
        <div class="card-footer">
          {% assign author = site.authors | where: 'name', post.author | first %}
          <img src="https://github.com/{{ author.name }}.png?size=40" width="40" class="rounded-circle" />
          <div class="d-inline-block align-middle ml-2">
            <span class="d-block">{{ author.display_name }}</span>
            <small class="text-muted d-block">{{ post.date | date_to_string }}</small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>