{% assign post = include.post %}
{% assign author = include.author %}
<div class="py-4">
  <a href="{{ post.url }}">
    <div style="background-image: url('{{ post.image }}');" class="img post-hero">
    </div>
    <h3 class="mt-3">{{ post.title }}</h3>
  </a>
  <p class="mt-0 mb-3">
    {{ post.excerpt | strip_html }}
  </p>
  <div class="row">
    <div class="col-8">
      <spam class="text-90">
        <i class=" far fa-user"></i> <a href="/authors/{{ post.author }}">{{ author.display_name }}</a>
      </spam>
    </div>
    <div class="col-4 text-right">
      <span class="pr-2 small">
        <i class="far fa-calendar-alt"></i> {{ post.date | date_to_string }}
      </span>
    </div>
  </div>
</div>
<hr>