{% assign post = include.post %}
{% assign author = include.author %}
<div class="py-4">
  <a href="{{ post.url }}">
    <div class="post-hero-container">
      <div style="background-image: url('{{ post.image }}');" class="img post-hero"></div>
    </div>
    <h3 class="mt-3">{{ post.title }}</h3>
  </a>
  <p class="mt-0 mb-3">
    {{ post.excerpt | strip_html }}
  </p>
  <div>
    <a href="/authors/{{ post.author }}">
      {% include profile_pic.html author=author size=40 %}
    </a>
    <div class="d-inline-block align-middle ml-2">
      <span class="d-block">
        <a href="/authors/{{ post.author }}">{{ author.display_name }}</a>
      </span>
      <small class="text-muted d-block">{{ post.date | date_to_string }}</small>
    </div>
  </div>
</div>
<hr>
