---
layout: default
---

<header class="masthead text-white text-shadow inner-shadow"
  style="padding-top: 5rem; padding-bottom: 5rem; background-image: url('/assets/img/authors_header_bg.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <div class="row d-flex align-items-center">
          <div class="col-lg-3 d-flex">
            {% include profile_pic.html author=page size=150 %}
          </div>
          <div class="col-lg-9 pt-5 pt-lg-0 text-center text-lg-left">
            <span class="w-600 text-uppercase"
              style="font-size: 2rem; letter-spacing: .2rem;">{{ page.display_name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container pt-3 pb-5">
  {% assign striped_content = page.content | strip | strip_html | strip_newlines %}
  {% unless striped_content == empty %}
  <div class="py-3">
    <h4 class="mt-3 mb-3">Bio</h4>
    {{ content }}
  </div>
  {% endunless %}

  <h4 class="mt-3 mb-3">Artigos</h4>
  <ul>
    {% assign filtered_posts = site.posts | where: 'author', page.username %}
    {% for post in filtered_posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> &mdash; {{ post.date | date_to_string }}
    </li>
    {% endfor %}
  </ul>

  {% if page.github_username != "" and page.github_username != nil %}
  <h4 class="mt-5 mb-3">Redes</h4>
  <p class="ml-3">
    <a class="text-dark" href="https://github.com/{{ page.github_username }}"><i
        class="fab fa-github mr-2"></i>Github</a>
  </p>
  {% endif %}
</div>
