---
layout: default
---

<header class="masthead text-white text-shadow inner-shadow"
  style="padding-top: 5rem; padding-bottom: 5rem; background-image: url('https://www.nasa.gov/sites/default/files/thumbnails/image/potw1805a.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <div class="row d-flex align-items-center">
          <div class="col-lg-3 d-flex">
            <img class="rounded-circle mx-auto" src="https://github.com/{{ page.name }}.png?size=150" width="150"
              alt="">
          </div>
          <div class="col-lg-9 pt-5 pt-lg-0 text-center text-lg-left">
            <span class="w-600 text-uppercase"
              style="font-size: 2rem; letter-spacing: .2rem;">{{ page.display_name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container pt-3 pb-5">
  <div class="py-2">
    {{ content }}
  </div>

  <h3 class="mt-5">Posts</h3>

  <ul>
    {% assign filtered_posts = site.posts | where: 'author', page.name %}
    {% for post in filtered_posts %}
    <li>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> &mdash; {{ post.date | date_to_string }}
    </li>
    {% endfor %}
  </ul>
</div>