---
layout: default
---

<div class="container py-5">
  <div class="row">
    <!-- Left Column-->
    <div class="col-lg-8" id="post-list">
      <h3>Últimas Postagens</h3>

      {% for post in paginator.posts %}
      {% assign author = site.authors | where: 'name', post.author | first %}
      {% include post_list_entry.html post=post author=author %}
      {% endfor %}

      {% include paginator.html paginator=paginator %}
    </div>

    <!-- Right Column -->
    <div class="col-lg-4 pl-lg-4">
      {% include blog_sidebar.html %}
    </div>
  </div>
</div>