---
layout: default
---

<div class="container py-4">
  <div class="row">
    <!-- Left Column-->
    <div class="col-lg-8" id="post-list">
      <h3>Últimas Postagens</h3>

      {% for post in paginator.posts %}
      {% assign author = site.authors | where: 'name', post.author | first %}
      {% include post_list_entry.html post=post author=author %}
      {% endfor %}

      {% include paginator.html paginator=paginator %}
    </div>

    <!-- Right Column -->
    <div class="col-lg-4 pl-lg-4">
      <h3 class="pb-3">Autores</h3>
      <ul class="list-unstyled">
        {% for author in site.authors %}
        {% assign count = site.posts | where: 'author', author.name | size %}
        <li class="mt-3 d-flex align-items-center">
          <a class="text-dark d-flex" href="/authors/{{ author.name }}">
            <div class="d-inline-flex align-items-center">
              <img src="https://github.com/{{ author.name }}.png?size=30" width="30" class="rounded-circle" />
              <span class="pl-2">{{ author.display_name }}</span>
            </div>
          </a>
          <span class="text-muted ml-1">&bullet; {{ count }} {{ count | pluralize: 'post', 'posts' }}</span>
        </li>
        {% endfor %}
      </ul>

      <h3 class="pt-4 pb-3">Tags</h3>
      {% include render_tags.html %}
    </div>
  </div>
</div>