---
layout: default
---

<div class="container py-4">
  <div class="row">
    <div class="col-md-8" id="post-list">
      <h3>Últimas Postagens</h3>

      {% for post in paginator.posts %}
      {% assign author = site.authors | where: 'name', post.author | first %}
      <div class="py-4">
        <a href="{{ post.url }}">
          <div style="background-image: url({{ post.image }});
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center center;
                    width: 100%; 
                    height: 18rem;" class="img">
          </div>
          <h3 class="mt-3">{{ post.title }}</h3>
        </a>
        <p class="mt-0 mb-3">
          {{ post.excerpt | strip_html }}
        </p>
        <div class="row">
          <div class="col-8">
            <spam class="small">
              <i class="far fa-user"></i> <a href="/authors/{{ post.author }}">{{ author.display_name }}</a>
            </spam>
          </div>
          <div class="col-4 text-right">
            <span class="pr-2 small">
              <i class="far fa-calendar-alt"></i> {{ post.date | date_to_string }}
            </span>
          </div>
        </div>
      </div>
      <hr>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <h3 class="pb-3">Autores</h3>
      <ul class="list-unstyled">
        {% for author in site.authors %}
        {% assign count = site.posts | where: 'author', author.name | size %}
        <li class="mt-2">
          <a class="text-dark" href="/authors/{{ author.name }}"><i
              class="fas fa-pen mr-2"></i>{{ author.display_name }}</a>
          <span class="text-muted"> &bullet; {{ count }} {{ count | pluralize: 'post', 'posts' }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>