---
layout: default
---

{% include header.html image="/assets/img/iag.png" title="IAGML"
    subtitle="Sistemas inteligentes para descoberta em Astronomia"
    boldtitle="true" %}

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <a href="http://www.iag.usp.br">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-university m-auto"></i>
            </div>
            <h3>Instituição</h3>
            <p class="lead mb-3">Saiba mais sobre o Instituto de Astronomia, Geofísica e Ciências Atmosféricas</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://github.com/iagml">
          <div class="features-icons-item mx-auto">
            <div class="features-icons-icon d-flex">
              <i class="fab fa-github m-auto"></i>
            </div>
            <h3>Repositórios</h3>
            <p class="lead mb-0">Acesse os repositórios do projeto no github.</p>
          </div>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="/blog">
          <div class="features-icons-item mx-auto mb-4 mb-lg-0">
            <div class="features-icons-icon d-flex">
              <i class="fas fa-blog m-auto"></i>
            </div>
            <h3>Publicações</h3>
            <p class="lead mb-0">Acompanhe nossas publicações acessando o blog</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="hero text-white inner-shadow">
  <div class="container-fluid p-0">
    <div class="text-center">
      <h1 class="text-shadow w-600">S-PLUS</h1>
      <h4 class="text-shadow w-500">Um dos surveys utilizados pelo projeto</h4>
      <a href="/surveys" class="btn btn-light">
        Saiba mais
      </a>
    </div>
  </div>
</section>

<section style="padding: 6rem 0; background: rgb(241, 242, 243);">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 mx-auto text-center">
        <h2 class="mb-4">Resumo do Projeto</h2>
        <p class="lead">
          Sistemas inteligentes para descoberta em Astronomia:
          Inteligência Artificial para a extração de informações em grandes levantamentos do céu (surveys).
        </p>
        <p class="lead">
          Surveys: ferramentas
          para abordar alguns dos mais instigantes problemas da
          astronomia atual:
          do que é feito o Universo? O que são as misteriosas energia escura e matéria escura? Como as galáxias se
          formam e evoluem? Como a Via Láctea se formou e evoluiu?
        </p>
        <a href="/projeto" class="btn btn-outline-dark">Saiba mais</a>
      </div>
    </div>
  </div>
</section>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('/assets/img/splus_survey.jpg'); background-size: cover; background-position: center center;">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Nossos Surveys</h2>
        <ul class="mb-0 pl-0 list-unstyled" style="font-size: 1.15rem;">
          <li><a href="http://j-pas.org" target="_blank">J-PAS</a> - Javalambre Physics of the Accelerating Universe
            Astrophysical Survey</li>
          <li><a href="http://j-plus.es" target="_blank">J-PLUS</a> - Javalambre Photometric Local Universe Survey
          </li>
          <li><a href="http://www.splus.iag.usp.br" target="_blank">S-PLUS</a> - Southern Photometric Local Universe
            Survey</li>
          <li><a href="http://sumire.ipmu.jp/pfs/intro.html" target="_blank">PFS</a> - Prime Focus Spectrograph</li>
        </ul>

      </div>
    </div>

    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img"
        style="background-image: url('/assets/img/neural_network.jpg'); background-size: cover; background-position: center center;">
      </div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Nossos Objetivos</h2>
        <p class="lead mb-2">
          Usar técnicas de machine learning e deep learning em astronomia:

          <ul class="pl-4 mb-0" style="font-size: 1.15rem;">
            <li>Estimativas de redshifts fotométricos</li>
            <li>Parâmetros da população estelar das galáxias</li>
            <li>Busca de objetos especiais</li>
            <li>Classificação de galáxias a partir de imagens</li>
            <li>Deconvolução</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>

<section style="background: rgb(241, 242, 243); padding: 5rem 0;">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-4 col-lg-3">
        <img src="/assets/img/prp_logo.png" alt="" width="100%">
      </div>
      <div class="col-8 col-lg-9">
        <p class="lead mb-0">
          Projeto apoiado pela Pró-Reitoria de Pesquisa da USP no Edital de Apoio a Projetos que Façam Uso de Sistemas
          Inteligentes
        </p>
      </div>
    </div>
  </div>
</section>

{% include latest_posts.html %}