---
layout: default
---

<div class="container py-4">
  <div class="row">
    <!-- Left Column-->
    <div class="col-lg-8">
      <h3 class="pb-4">TAG: {{ page.name }}</h3>

      {% for post in site.tags[page.name] %}
      {% assign author = site.authors | where: 'name', post.author | first %}
      {% include simple_post_list_entry.html post=post author=author%}
      {% endfor %}

    </div>

    <!-- Right Column -->
    <div class="col-lg-4 pl-lg-4">
      {% include blog_sidebar.html %}
    </div>
  </div>
</div>